.Header {
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #dbdbdb;
  padding: 10px 20px;
}

.Header__logo {
  object-fit: contain;
  width: 115px;
}

.Header__icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.Header__icons__icon {
  position: relative;
}

.Header__icons__info {
  position: absolute;
  background-color: black;
  left: calc(50% + -10px);
  border-radius: 2px;
  color: white;
  padding: 2px 5px;
  visibility: hidden;
}

.Header__icons__icon:hover .Header__icons__info {
  visibility: visible;
}
