/* Modal Styling */
.PostForm__header {
  display: flex;
  justify-content: center !important;
}

.PostForm__logo {
  object-fit: contain;
  height: 40px;
}

.PostForm__form {
  width: 70%;
  margin: auto;
  padding: 20px !important;
  display: flex;
  flex-direction: column;
}

.PostForm__submitbtn {
  margin-top: 25px;
}

.PostForm__caption {
  margin-top: 20px;
}
